body {
	font-family: 'Microsoft Yahei', 'Sim Sun', Verdana, Arial, Sans-serif;
	background-color: #999999;
}

form {
	margin: 0;
}

.modal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#container {
	margin: 15em auto auto auto;
}

.form-horizontal .control-label {
	width: 80px;
}

.form-horizontal .controls {
	margin-left: 100px;
}